@use "../abstracts/variables";


.feature-box {

    background-color: rgba(variables.$color-white, .8);
    font-size: variables.$font-size-default;
    padding: 3rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: variables.$box-shadow-active;
    transition: all .2s;


    &__icon {
        display: inline-block;
        font-size: variables.$font-size-h1;
        margin-bottom: 2.5rem;
       //font filled with linear gradient
        background-image: linear-gradient(to right, variables.$color-primary-light, variables.$color-primary-dark); 
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

    }

    &:hover {
        transform: translateY(-1rem) scale(1.05);
        box-shadow: variables.$box-shadow-hover;
    }


}